:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#SlidePaletteNeg1 {
  --bg: #FFA630;
  --bg--dark: #CE821E;
  --accent: #D7E8BA;
}

#SlidePalette0 {
  --bg: #def6ca;
  --bg--dark: #b2cf99;
  --accent: #F54055;
}

#SlidePalette1 {
  --bg: #336699;
  --bg--dark: #336699;
  --accent: #86BBD8;
}

#SlidePalette2 {
  --bg: #7f557d;
  --bg--dark: #6d456b;
  --accent: #ceff1a;
}

#SlidePalette3 {
  --bg: #223843;
  --bg--dark: #1a2e38;
  --accent: #f3de8a;
}

#SlidePalette4 {
  --bg: #a54657;
  --bg--dark: #973a4b;
  --accent: #c7eae4;
}

#SlidePalette5 {
  --bg: #558b6e;
  --bg--dark: #477a5f;
  --accent: #17183b;
}

#SlidePalette6 {
  --bg: #0a2463;
  --bg--dark: #07205a;
  --accent: #3e92cc;
}

#SlidePalette7 {
  --bg: #fab3a9;
  --bg--dark: #eca298;
  --accent: #5e3023;
}

#SlidePalette8 {
  --bg: #44344f;
  --bg--dark: #392c42;
  --accent: #eac435;
}

#SlidePalette9 {
  --bg: #C1CAD6;
  --bg--dark: #C1CAD6;
  --accent: #E05FCF;
}

#SlidePalette10 {
  --bg: #80A1C1;
  --bg--dark: #80A1C1;
  --accent: #EEE3AB;
}

#LiveVideo {
  object-fit: cover;
  object-position: center;
}

.Slide__IntroText {
  position: absolute;
  left: 10vh;
  bottom: 10vh;
  width: 100vh;
}

.Slide__IntroImage {
  position: absolute;
  top: 8vh;
  right: 8vh;
  height: 60vh;
  width: 60vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Slide {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  padding: 20vh;
}

.Slide__Image.Slide__Image--cover {
  width: 80vh;
  height: 80vh;
  overflow: hidden;
  position: static;
}

.Slide__Title.Slide__Title--centered {
  width: 100%;
  text-align: center;
}

.Slide__Title.Slide__Title--cover {
  position: absolute;
  width: 60vw;
  left: 60vh;
  bottom: 15vh;
  font-size: 5rem;
}

.Slide__Title.Slide__Title__Intro {
  font-size: 7rem;
}

.Slide__Title.Slide__Title--cover.Slide__Title--cover-underlay {
  position: unset;
  color: red;
  text-shadow: -3px 3px 8px var(--bg--dark);
  color: transparent;
  opacity: 0.75;
  font-size: 5rem;
  margin-left: 50vh;
  margin-top: 45.4vh;
}

.Slide__Date.Slide__Date--cover {
  position: absolute;
  left: 92vh;
  top: 52vh;
}

.Slide.Slide--cover {
  padding: 10vh;
}

.Slide.Slide--vertical {
  flex-direction: column;
  padding: 10vh 32vh;
}

.Slide__Upper {
  display: flex;
}

.Slide__Spacer {
  width: 10vh;
  height: 5vh;
  flex-shrink: 0;
}

.Slide__Spacer.Slide__Spacer--narrow {
  width: 5vh;
}

.Slide__Image {
  width: 60vh;
  height: 60vh;
  border-radius: 8px;
  background-color: var(--bg--dark);
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  position: relative;
}

.Slide__Image.Slide__Image--sm {
  width: 55vh;
  height: 55vh;
}

.Slide__Date {
  font-size: 1.5rem;
  font-family: "Varela Round";
  color: var(--accent);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.Slide__Title {
  font-family: "Yeseva One";
  font-size: 3rem;
  color: var(--accent);
}

.Slide__SubTitle {
  font-size: 2.5rem;
  color: var(--accent);
}

.Slide__Image__Overlay {
  z-index: 1;
  width: 15vh;
  height: 15vh;
  border-radius: 8px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  fill: var(--accent);
}

.Slide__Image__Overlay.Slide__Image__Overlay--cover {
  top: 12vh;
  left: 75vh;
  width: 16vh;
  height: 16vh;
}

.Slide__Image__Overlay--top-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.Slide__Image__Overlay--top-right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.Slide__Image__Overlay--bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.Slide__Image__Overlay--bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.Slide__Gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2vh;
  width: 91vh;
  height: 60vh;
  flex-shrink: 0;
}

.Slide__Gallery.Slide__Gallery--small {
  grid-template-columns: 1fr 1fr;
  width: 60vh;
}

.Slide__GalleryImage {
  position: relative;
  border-radius: 8px;
  background-color: var(--bg--dark);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Slide__Image__Overlay.Slide__Image__Overlay--video-overlay {
  top: 72vh;
  right: 75vh;
}
