* {
  margin: 0;
  color: #232323;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}

#Content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.Jumbotron,
.Jumbotron__Upper,
.Jumbotron__Lower {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Jumbotron__Upper {
  margin-bottom: 0.5rem;
}

.Jumbotron__Upper__Icon {
  font-size: 3rem;
}

.Jumbotron__Upper__Header {
  font-size: 1.5rem;
  font-weight: bold;
}

.Jumbotron__Lower__Links {
  margin-top: 8px;
}

.Jumbotron__Lower__Links a {
  display: inline-block;
  margin-right: 8px;
}

.Jumbotron__Lower__Links a:last-of-type {
  margin-right: 0;
}

.Apps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 25px;
  width: 100%;
  max-width: 900px;
  margin: 25px auto 0;
}

@media (max-width: 825px) {
  .Apps {
    grid-template-columns: 1fr;
  }
}

.App__Card {
  box-shadow: 0px 0px 5px 0px rgba(32, 32, 32, 0.1);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  color: #232323 !important;
  transition: 250ms ease-in-out;
  background-color: white;
}

.App__Card:hover {
  box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.2);
  transform: scale(1.05);
}

.App__Icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: block;
  margin-right: 15px;
}

.App__Card__Subtitle {
  color: #bebebe;
  font-size: 12px;
}

.Footer {
  height: 25px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d95d00; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #d95d00 0%,
    #f4a000 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #d95d00 0%,
    #f4a000 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #d95d00 0%,
    #f4a000 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d95d00', endColorstr='#f4a000',GradientType=0 ); /* IE6-9 */
}
